/*common*/
*, h1, h2, h3, h4, h5, p, ul, a {
    margin: 0;
    padding: 0;

}

/*h1{text-shadow: 2px 1px 2px gainsboro}*/

*,
*:before,
*:after {
    box-sizing: border-box;

}

html, body {
    overflow-x: hidden;
}

.body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 3.0;
    color: #504a4a;
    display: flex;
    flex-direction: column;
    min-width: 120vh;
    min-height: 120vh;
}

.main {
    flex: 1;
}

a {
    color: blue;
    text-decoration: none;
    transition: all .3s ease;
}

a:not(.btn):hover {
    color: #3f3fa3;
}

p + a:not (.btn) { /*запись обозначает , что когда линк после параграфа не в button, то след стили*/
    font-size: 13px;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    font-weight: 300;
    /*color: #504a4a;*/
}

li {
    text-shadow: 1px 1px 0 black;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

@media (max-width: 992px) {
    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 33px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }
}

.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

img {
    max-width: 100%;
}

/*
Universal*/

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.lead {
    font-size: 16px;
    color: grey;
    font-weight: 300;
}

@media (min-width: 992px) {
    .lead {
        font-size: 20px;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 30px;
    border-radius: 6px;
    padding: 3px 25px;
    transition: 0.1s linear;
    font-size: 13px;
}

@media (min-width: 992px) {
    .btn {
        height: 42px;
        padding: 5px 35px;
    }

}

.btn-primary {
    background-color: blue;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #5e5ef4;
    transform: translate3d(0, -3px, 0);
}

img {
    box-shadow: 0 23px 40px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/*navbar*/
.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav ul {
    display: flex;
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-nav li a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    font-weight: 600;
}

.navbar-nav li a:hover {
    color: red;
    transform: translate3d(0, -2px, 0);
    opacity: 1;
}

.navbar-nav li {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 400px) {
    .navbar-nav ul {
        margin: 0 auto;

    }
}

/*select phone*/
.phone {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.phone:before {
    content: " ";
    position: absolute;
    background-color: grey;
    left: 0;
    right: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}


.phone .container {
    max-width: 800px;
    position: relative;
}

.phone p {
    margin-bottom: 35px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.phone h1 {
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
    text-shadow: #993353 2px 2px 2px;;
}

/*skills*/
.name {
    text-align: center;
    margin-bottom: 20px;

}

.section-skills {
    background-color: gainsboro;
}

.skills {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.skills li {
    color: #3f3fa3;
}

.skill-col {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
}

.skill {
    padding: 25px;
    border-radius: 10px;
    background-color: #e6e3e3;
}

.skill img {
    max-width: 70px;
    margin-bottom: 20px;
}

.skill h4 {
    font-weight: 400;
    margin-bottom: 15px;
}

.skill p {
    max-width: 280px;
    margin: 0 auto 30px auto;
    font-size: 13px;
    line-height: 1.7;
}

@media (min-width: 756px) {
    .skill-col {
        max-width: 400px;
        width: 100%;
        margin-bottom: 0;

    }
}

.section-grey {
    border-top: grey;
    background-color: #fcf8f8;
}

/*"hobby-section"*/
.hobby-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobby-img {
    order: -1;
    margin-bottom: 40px;
}

.hobby-section h2, p {
    margin-bottom: 30px;
}

.slider {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 600px;
    box-shadow: 7px 4px 8px 2px #a59f9f;
}

/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

/* Кнопки вперед и назад */
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 200px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении на кнопки добавляем фон кнопок */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Заголовок слайда */

/* Кружочки */
.slider-dots {
    text-align: center;
}

.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}

/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media (min-width: 768px) {
    .hobby-section {
        margin-right: -25px;
        margin-left: -25px;
    }

    .hobby-img {
        position: relative;
        order: initial;
        margin-bottom: 0;
    }

    .hobby-img, .hobby-text {
        max-width: 50%;
        width: 40%;

    }
}

/*
project*/

.project {
    display: flex;
    text-align: center;
    position: relative;
    min-height: 50vh;
    min-width: 80vh;
    background-size: cover;
    background-position: left;
}

.one-project:hover {
    background-color: rgba(226, 221, 221, 0.8);
    opacity: 0.7;
    min-width: 50vh;
}

.project h1 {
    font-weight: 300;
    padding-top: 100px;
    font-size: 40px;
    color: white;
}

.project .container {
    max-width: 800px;
    position: relative;
}

.project:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    color: white;
    background-color: #8a69ed;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.one-project {
    max-width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 30px;
    padding: 15px;
    background-color: #fcf3f3;
    box-shadow: 7px 4px 8px 2px #a59f9f;
}

.one-project h4 {
    margin-top: 35px;
}

@media (max-width: 1060px) {
    .projects {
        justify-content: center;
    }
}

/*footer*/

.footer-row .container {
    background-color: #531e1e;
    position: relative;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;

}

.footer-copyright {
    opacity: 0.6;
}

.footer-social {
    display: flex;
    list-style: none;
    align-items: center;
}

.footer-social li {
    padding-right: 10px;
    padding-left: 10px;
}

.footer-social a {
    opacity: 0.6;
}

.footer-social a:hover {
    opacity: 1;
}

.footer-social img {
    max-width: 24px;
}