<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Open+Sans:wght@300;400;700&family=Vollkorn:ital,wght@0,400;0,500;0,600;1,400&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="navbar">
    <div class="container">

        <nav class="navbar-nav">
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../components/skills.html">Skills</a>
                </li>
                <li>
                    <a href="../components/projects.html">Projects</a>
                </li>
                <li>
                    <a href="../components/contacts.html">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="project" style="background-image: url('../css/image/programming.gif')">
        <div class="container">
            <h1 class="lead">You can see my projects here
            </h1>
        </div>
    </section>

    <section class="section-padding section-projects">
        <div class="container">
            <h1 class="name">My projects</h1>
            <div class="projects">
                <div class="one-project">
                    <a href="https://arinakumeisha.github.io/presentation_todo/" target="_blank"><img
                            src="../css/image/todo.jpg" alt="todo"></a>
                    <h4>TodoList</h4>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae debitis
                        esse fugiat
                        id inventore iste itaque natus non quibusdam quis ratione rem, saepe sequi tempora ut,
                        vitae! Dolor, quia.</p>
                </div>


                <div class="one-project">
                    <a href="https://arinakumeisha.github.io/weather/" target="_blank"><img
                            src="../css/image/weather3.jpg" alt="weather"/></a>
                    <h4>Weather</h4>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae debitis
                        esse fugiat
                        id inventore iste itaque natus non quibusdam quis ratione rem, saepe sequi tempora ut,
                        vitae! Dolor, quia.</p>
                </div>


                <div class="one-project">
                    <a href="https://arinakumeisha.github.io/my_new_social_network/#/profile" target="_blank"><img
                            src="../css/image/social.jpg" alt="network"></a>
                    <h4>NetWork</h4>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae debitis
                        esse fugiat
                        id inventore iste itaque natus non quibusdam quis ratione rem, saepe sequi tempora ut,
                        vitae! Dolor, quia.</p>
                </div>


                <div class="one-project">
                    <a href="https://arinakumeisha.github.io/Portfolio/" target="_blank"><img
                            src="../css/image/portfolio.jpg" class="img-project" alt="portfolio"></a>
                    <h4>Portfolio</h4>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae debitis
                        esse fugiat
                        id inventore iste itaque natus non quibusdam quis ratione rem, saepe sequi tempora ut,
                        vitae! Dolor, quia.</p>
                </div>

                <div class="one-project">
                    <a href="https://arinakumeisha.github.io/counter_Redux/" target="_blank"><img
                            src="../css/image/counter.png" alt="counter"></a>
                    <h4>Counter</h4>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae debitis
                        esse fugiat
                        id inventore iste itaque natus non quibusdam quis ratione rem, saepe sequi tempora ut,
                        vitae! Dolor, quia.</p>
                </div>
            </div>
        </div>
    </section>

</main>
<footer>
    <div class="container">
        <div class="footer-row">
            <small class="footer-copyright">@2022 Arina Kumeisha portfolio</small>
            <ul class="footer-social">
                <li>
                    <a href="#">
                        <img src="../css/image/github.png" alt="git">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="../css/image/link.png" alt="linkedin">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="../css/image/google.png" alt="gmail">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="../css/image/instagram.png" alt="instagram">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>